@*Created by Clara Magaldi - 30109313*@

@{
    ViewBag.Title = "Home Page";
}

<div class="home">
    <table>
        <tr>
            <td style="vertical-align:middle">
                <img src="~/images/cupcake.png" alt="cake" style="width:192px; height: 256px; float:left; margin-left:20px; margin-right:20px">
            </td>
            <td>
                <h1>The Cake Factory</h1>
                <p>Are you a cake lover? We are too! </p>
                <p>For this reason, we have gathered the best cake recipes to share with everyone, who, like us, cannot resist a piece of candy. </p>
                <p>In addition, we reserve a space on this website for you to share that unmissable recipe. We will love it!</p>
            </td>
        </tr>
    </table>
</div>

